{# We use eleventy-rss plugin absoluteUrl filter as helper for absolute URL generation #}

{# General #}
<meta name="description" content="{{ meta.description or site.description }}">
<meta name="generator" content="{{ eleventy.generator }}">

{# Open Graph #}
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ meta.title or site.title }}">
<meta property="og:image" content="{{ meta.ogImage or site.ogImage | url }}">
<meta property="og:description" content="{{ meta.description or site.description }}">
<meta property="og:url" content="{{ page.url | url | absoluteUrl(site.baseUrl) }}">
<meta property="og:locale" content="{{  meta.locale or site.locale }}">

{%- if meta.image -%}
<meta property="og:image" content="{{ meta.image | url | absoluteUrl(site.baseUrl) }}">
{%- endif -%}
{# End Open Graph #}

{# Twitter #}
<meta name="twitter:card" content="{% if meta.image -%}summary_large_image{% else %}summary{% endif %}">
<meta name="twitter:title" content="{{ title or meta.title }}">
<meta name="twitter:description" content="{{ meta.description or site.description}}">
{%- if meta.image -%}
<meta property="twitter:image" content="{{ meta.image | url | absoluteUrl(site.baseUrl) }}">
{%- endif -%}

<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=DM+Sans:wght@400;500&family=Jura:wght@600&family=Nunito:wght@400;600&display=swap" rel="stylesheet">
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/de733547fa9c8b67576ad1cc1/1b31b1928eeb9aa7998021208.js");</script>
{# End Twitter #}


