@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
  }
  .animate-slideInFromLeft {
    animation: slideInFromLeft 1s ease-in-out;
  }
  .animate-slideInFromRight {
    animation: slideInFromRight 1s ease-in-out;
  }
  .animate-slideInFromTop {
    animation: slideInFromTop 1s ease-in-out;
  }
  .animate-slideInFromBottom {
    animation: slideInFromBottom 1s ease-in-out;
  }
}

@layer base {

  body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column
  }

  #main {
    /* @apply py-16 px-4 mx-auto max-w-[800px]; */
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes slideInFromLeft {
    0% { transform: translateX(-30%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes slideInFromRight {
    0% { transform: translateX(30%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes slideInFromTop {
    0% { transform: translateY(-30%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes slideInFromBottom {
    0% { transform: translateY(30%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }

  .login-link {
    @apply text-gray-500 font-semibold;
  }

  .login-link:hover {
    @apply text-blue-700;
  }

  .active-link {
    @apply text-blue-800 font-semibold underline;
  }

    /* Default theme (Creative Corner) */
  body {
    @apply font-courier;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-caveat;
  }

  /* Afters page theme */
  .page-afters {
    @apply font-dmsans;
  }

  .page-afters h1,
  .page-afters h2,
  .page-afters h3,
  .page-afters h4,
  .page-afters h5,
  .page-afters h6 {
    @apply font-jura;
  }

  .page-afters-bg {
    position: relative;
    background: conic-gradient(
      from 270deg at 48.91% 49.49%,
      #2C282D 49.2183deg,
      #882BBA 100.1812deg,
      #2A2729 114.3012deg,
      #882BBA 143.9819deg,
      #292727 179.6596deg,
      #960F6A 277.3459deg,
      #171B75 318.2163deg,
      #2C282D 360deg /* same as first color */
    );
    z-index: 0;
  }

  .jura {
    @apply font-jura;
  }
  .dmsans {
    @apply font-dmsans;
  }
  .caveat {
    @apply font-caveat;
  }
  .nunito {
    @apply font-nunito;
  }
  .courier {
    @apply font-courier;
  }

  .fill-afters {
    fill: linear-gradient(180deg, #EC22C4 3.37%, #1D0C3D 96.15%);
  }

  .fade-in {
    opacity: 1 !important;
  }
  
  .fade-out {
    opacity: 0 !important;
  }
}


