---
title: "Get Tickets"
layout: base-light
---

<main class="flex flex-col items-center justify-center">
    {% include "partials/header-gen.njk" %}

    <h3 class="mt-5 text-2xl">Get Tickets</h3>

    <div class="w-full relative overflow-hidden mb-24">
        <div style="margin: 0 -100px;" class="absolute inset-y-0 inset-x-[-100px] -z-10 pointer-events-none">
        {% svg "paper-cutout", "w-full h-full object-fill fill-gray-200" %}
        </div>
        <section class="px-4 sm:px-10 max-w-6xl mx-auto mt-24 mb-24 flex flex-col items-center relative z-10">
        <div class="flex flex-col md:flex-row bg-white text-gray-800 w-full max-w-screen-lg mx-auto">
            <!-- Left side (Image + Note) -->
            <div class="md:w-1/2 flex flex-col items-center justify-center p-6">
                <img src="/assets/acoustic-guitar.jpg" alt="Performer" class="w-full h-auto rounded-lg mb-4 shadow" />
                <p class="text-center text-sm text-gray-600 italic">
                Tickets are cheaper online! At-the-door pricing may be higher
                </p>
            </div>
            
            <!-- Right side (Widget container) -->
            <div class="md:w-1/2 p-6">
                {% include "partials/tickets.njk" %}
            </div>
            </div>
        </section>
    </div>
  
</main>
  