<div class="bg-[#46005B] rounded shadow p-4 text-center">
    <img src="{{ artist.photo }}" alt="{{ artist.photo }}" class="rounded-full h-24 w-24 mx-auto mb-2" />
    <p class="font-bold text-yellow-400">{{ artist.name }}</p>
    <p class="text-sm text-purple-200">{{ artist.bio }}</p>
    <a href="{{ artist.link }}" target="_blank" class="text-blue-500 hover:underline">Follow Their Work</a>
  </div>