<div class="flex justify-center items-center relative w-full">
    <ul class="absolute left-0 ml-3 hidden items-center gap-6 sm:flex font-medium">
        <li><a href="/" class="hover:underline">Home</a></li>
    </ul>
    <div class="w-48">
        {% image "./src/assets/images/logo-main.png", "logo", "100%", "", true %}
    </div>
</div> 